{% extends 'backend/base.html' %} {% block content %}
<div class="container-client">
  <h1>NOM CLIENT</h1>

  <div class="container-detail">
    <div>
      <h2>Suivi</h2>
      <p>Date de création:</p>
      <p>Dernière commande:</p>
      <p>Nbr de commande:</p>
      <p>Commercial:</p>
    </div>

    <div>
      <h2>Contacts</h2>
      <p>Nom:</p>
      <p>Email:</p>
      <p>Phone:</p>
    </div>

    <div>
      <h2>Adresse Facturation</h2>
      <p>adresse:</p>
      <p>Ville:</p>
      <p>Code postal:</p>
    </div>

    <div>
      <h2>Siège social</h2>
      <p>adresse:</p>
      <p>Ville:</p>
      <p>Code postal:</p>
    </div>
  </div>

  <div class="container-button">
    <button href="#">FACTURE</button>
    <button href="#">COMMANDE</button>
    <button href="#"><i class="bx bxs-edit"></i></button>
    <button><i class="bx bxs-trash"></i></button>
  </div>

  <div class="container-comment">
    <div class="container-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
        consequatur consequuntur ex modi veniam, molestiae iste vero animi fuga
        perspiciatis perferendis itaque! Voluptas blanditiis nobis eius eos illo
        ipsum reiciendis.
      </p>
    </div>
    <div>
      <button href="#"><i class="bx bxs-edit"></i></button>
      <button><i class="bx bxs-trash"></i></button>
    </div>
  </div>
</div>
