{% extends 'backend/base.html' %} {% block content %}
<div class="container-client">
  <h1>{{ customer.name }}</h1>

  <div class="container-detail">
    <div>
      <h2>Suivi</h2>
      <p>Date de création :{{ customer.created_at }}</p>
      <p>Dernière commande :</p>
      <p>Nbr de commande :</p>
      <p>Commercial :{{ customer.commercial_name }}</p>
    </div>

    <div>
      <h2>Contacts</h2>
      <p>Nom : {{ customer.contact_name }}</p>
      <p>Email : {{ customer.email }}</p>
      <p>Phone : {{ customer.phone }}</p>
    </div>

    <div>
      <h2>Adresse Facturation</h2>
      <p>adresse : {{ customer.address }}</p>
      <p>Code postal : {{ customer.zip_code }}</p>
      <p>Ville : {{ customer.city }}</p>
    </div>
  </div>

  <div class="container-button">
    <button href="#">FACTURE</button>
    <button href="#">COMMANDE</button>
    <a href="{% url 'liste_client:edit_client' customer.id %}"
      ><button>
        <i class="bx bxs-edit"></i></button
    ></a>
    <a
      href="{% url 'liste_client:delete' customer.id %}"
      onclick="return confirm('êtes-vous sur de vouloir supprimer ce projet')"
    >
      <i class="bx bxs-trash"></i>
    </a>
  </div>

  <div class="container-comment">
    <div class="container-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
        consequatur consequuntur ex modi veniam, molestiae iste vero animi fuga
        perspiciatis perferendis itaque! Voluptas blanditiis nobis eius eos illo
        ipsum reiciendis.
      </p>
    </div>
    <div>
      <button href="#"><i class="bx bxs-edit"></i></button>
      <button><i class="bx bxs-trash"></i></button>
    </div>
  </div>
</div>
<a href="{% url 'liste_client:customers' %}">RETOUR</a>
{% endblock %}
