{% extends 'backend/base.html' %} {% block content %}
<div class="heading">
  <h1>LISTE DES CLIENTS</h1>
  <a href="{% url 'liste_client:add' %}"><i class="bx bxs-add-to-queue"></i></a>
</div>

<div class="container">
  {% for customer in customers %}
  <div class="card">
    <h2>{{ customer.name }}</h2>
    <a href="{% url 'liste_client:detail_client' customer.pk %}">
      <div class="card-body">
        <p><strong>Contact :</strong></p>
        <p>{{ customer.contact_name }}</p>
        <p><strong>Date de Création :</strong></p>
        <p>{{ customer.created_at|date:"d/m/y" }}</p>
        <p><strong>En cours :</strong></p>
        <p><strong>Dernière commande:</strong></p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
