{% extends 'backend/base.html' %}

{% block content %}
<div class="heading">
  <h1>LISTE DES CLIENTS</h1>
</div>

<div class="container">
  <div class="card">
    <h2 class="card-title">Nom</h2>
    <div class="card-body">
      <p><strong>Contact :</strong></p>
      <p><strong>Date de Création :</strong></p>
      <p><strong>En cours :</strong></p>
      <p><strong>Dernière commande:</strong></p>
    </div>
  </div>

  <div class="card">
    <h2 class="card-title">Nom</h2>
    <div class="card-body">
      <p><strong>Contact :</strong></p>
      <p><strong>Date de Création :</strong></p>
      <p><strong>En cours :</strong></p>
      <p><strong>Dernière commande:</strong></p>
    </div>
  </div>

  <div class="card">
    <h2 class="card-title">Nom</h2>
    <div class="card-body">
      <p><strong>Contact :</strong></p>
      <p><strong>Date de Création :</strong></p>
      <p><strong>En cours :</strong></p>
      <p><strong>Dernière commande:</strong></p>
    </div>
  </div>

  <div class="card">
    <h2 class="card-title">Nom</h2>
    <div class="card-body">
      <p><strong>Contact :</strong></p>
      <p><strong>Date de Création :</strong></p>
      <p><strong>En cours :</strong></p>
      <p><strong>Dernière commande:</strong></p>
    </div>
  </div>

  <div class="card">
    <h2 class="card-title">Nom</h2>
    <div class="card-body">
      <p><strong>Contact :</strong></p>
      <p><strong>Date de Création :</strong></p>
      <p><strong>En cours :</strong></p>
      <p><strong>Dernière commande:</strong></p>
    </div>
  </div>

</div>
{% endblock content %}